@import '../variables.css';

.microkitLogo {
  width: 30px;
}

.microkitLogoText {
  margin: 0.75em;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

  margin: 0 auto;
  padding: 0.75em 1em;
  max-width: var(--max-content-width);
}

.nav {
  margin-left: auto;
}

.root {
  margin: 0;
}

.link {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-base);
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-style: uppercase;
}
