@import '../variables.css';

:root {
  --brand-color: #61dafb;
  --background-color: #6B7A8F;
  --highlight-color: #F7C331;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.nav {
  float: right;
  margin-top: 6px;
}

.root {
  margin: 0;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em;
}

.link,
.link:active,
.link:visited {
}

.link:hover {
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
}
